{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}
<div>Bienvenue sur l'espace administrateur du site subl-immo.com</div>
<p>Pour commencer, merci de séléctionner un lien dans le menu</p>

{% endblock %}
