<!DOCTYPE html>
<html >


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Espace administrateur du site subl-immo.com">
    <meta name="author" content="Khadija BAHI">


    <title>SUBL'IMMO - admin - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="">
</head>


</html>